h1{
    font-family: $Roboto;
    font-size: $xx-large;
    font-weight: $negro;
    color: $blue-grey;
    padding-bottom: 30px;
    line-height : 72px;
}

h2{
    font-family: $Roboto;
    font-size: $x-large;
    font-weight: $negro;
    padding-bottom: 60px;
    padding-top: 60px;
    color: $blue-grey;
}

h3{
    font-family: $Roboto;
    font-size: $large;
    padding-bottom: 60px;
    color: $blue-grey;
    padding-bottom: 30px;
    line-height : 25px;
}

p{
    font-family: $Roboto;
    font-size: $medium;  
    color: $blue-grey;
}

