// Esquema de colores
$aqua-green: #7cea9c;
$blue-grey: #2d3047;
$white: #ffffff;
$platinum: #e6e7e7;
$raisin-black: #020505;

//Tipografías
$Roboto: 'Lato', 'sans-serif';

//Peso de fuentes
$regular: 400;
$medium: 300;
$negro: 900;

//Font size
$xx-large: 70px;
$x-large: 40px;
$large: 30px;
$medium: 16px;
$small: 12px;

