.experience__cv{
    position: relative;
    left: 200px;
    top: -883px;
}

.education__Isbel{
    position: relative;
    left: 200px;
    top: -730px;
}

time{
    float: right;
}

.experience__description1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.experience__description2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.experience__description3{
    margin-top: 50px;
    margin-bottom: 50px;
}

.education1{
    margin-bottom: 70px;
}

.education2{
    margin-bottom: 70px;
}

.education3{
    margin-bottom: 70px;
}

.line{
    height: 1px;
}

.abilities__tools{
    position: relative;
    left: 200px;
    top: -584px;
}

.abilities__tools1{
    margin-bottom: 60px;
}

.abilities__tools2{
    margin-bottom: 60px;
}