
@media (min-width: 375px){
    .about{
        position: absolute;
        left: 288px;
        top: 150px;
        line-height: 25px;
    }
}

@media (min-width: 1200px){
    .about{
        position: absolute;
        left: 288px;
        top: 239px;
        padding-right: 200px;
        line-height : 25px;
    }
}

.icons{
    margin-top: 70px;
}

.fab{
    padding-right: 10px;
}

.direction{
    padding-bottom: 30px;
}

@media (min-width: 375px){
    .experience{
        position: absolute;
        left: 288px;
        top: 762px;
        padding-right: 200px;
        line-height: 25px;
    }
}

@media (min-width: 1200px){
    .experience{
        position: absolute;
        left: 288px;
        top: 600px;
        padding-right: 200px;
        line-height: 25px;
    }
}


.experience__description1{
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 25px;
}

.experience__description2{
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 25px;
}

.experience__description3{
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 25px;
}

@media (min-width: 375px){
    .education{
        position: absolute;
        left: 288px;
        top: 2000px;
        padding-right: 200px;
        line-height: 25px;
    }
}
@media (min-width: 1200px){
    .education{
        position: absolute;
        left: 288px;
        top: 1620px;
        padding-right: 200px;
        line-height: 25px;
    }
}


.education1{
    margin-bottom: 70px;
}

.education2{
    margin-bottom: 70px;
}

.education3{
    margin-bottom: 70px;
}

@media (min-width: 375px){
    .abilities{
        position: absolute;
        left: 288px;
        top: 2500px;
        padding-right: 200px;
        line-height: 25px;
    }
}

@media (min-width: 1200px){
    .abilities{
        position: absolute;
        left: 288px;
        top: 2250px;
        padding-right: 200px;
        line-height: 25px;
    }
}


.abilities__tools1{
    margin-bottom: 60px;
}

.abilities__tools2{
    margin-bottom: 60px;
}

time{
    float: right;
}

.line{
    height: 1px;
}